<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enrollment details</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Enrollment Details</h1>
        <div></div>
        <p>Child Name: <%= enrollment.childName %></p>
        <p>Enrolled In: <%= enrollment.activityId.title %></p>
        <p>Price paid: <%= enrollment.priceAtEnrollment %> BD</p>
        <p>Date of Enrollment: <%= enrollment.createdAt.getUTCFullYear() %>/<%= enrollment.createdAt.getMonth() + 1 %>/<%= enrollment.createdAt.getDate() %></p>
        <p>Enrollment Status: <%= enrollment.status %></p>
        <form action="/enrollments/<%= enrollment._id %>?_method=DELETE" method="post">
            <button>Cancel Enrollment</button>
        </form>
        

</body>
</html>