<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>provider-enrollments-view</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Enrollments</h1>
    <table>
        <tr>
        <th>Activity </th>
        <th>Child Name </th>
        <th>Date of Registration </th>
        </tr>
        <% for(let oneEnrollment of enrollments){ %>
        <tr>
        <td><%= oneEnrollment.activityId.title %></td>
        <td><%= oneEnrollment.childName %></td>
        <td><%= oneEnrollment.createdAt.getUTCFullYear() %>/<%= oneEnrollment.createdAt.getMonth() + 1 %>/<%= oneEnrollment.createdAt.getDate() %></td>
        </tr>
        <% } %>
    </table>


</body>
</html>