<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activity-details</title>
</head>

<body>
    <%- include('../partials/navbar') %>
        <h1>Activity Details</h1>
        <p>Activity Name: <%= activity.title %>
        </p>
        <p>Category: <%= activity.category %>
        </p>
        <p>Description: <%= activity.description %>
        </p>
        <p>Age Range: <%= activity.minAge %> - <%= activity.maxAge %>
        </p>
        <p>Tags: <%= activity.tags %>
        </p>
        <p>Price: <%= activity.price %> BD
        </p>
        <p>Capacity: <%= activity.capacity %>
        </p>

        <% if (user && user._id === activity.createdBy.toString()) { %>
            <a href="/activities/<%= activity._id %>/edit">
                <button type="button">Edit Activity</button>
            </a>
            <br>
            <br>
            <form action="/activities/<%= activity._id %>?_method=DELETE" method="post">
                <button type="submit">Delete Activity</button>
            </form>
            <% } %>

        <h2>Reviews</h2>
        <% if (reviews.length === 0) { %>
            <p>No reviews yet.</p>
            <% } %>
                <% reviews.forEach(function(review) { %>
                    <div>
                        <p>
                            <h4><%= review.userId.username %></h4> - Rating: <%= review.rating %>/5
                        </p>
                        <p>
                            <%= review.comment %>
                        </p>
                        <% if(user && user._id === review.userId._id.toString()){ %>
                        <form action="/reviews/<%= review._id %>/edit" method="get">
                            <button>Edit Review</button>
                        </form>
                        <form action="/reviews/<%= review._id %>?_method=DELETE" method="post">
                            <br>
                            <button>Delete Review</button>
                        </form>
                        <% } %>
                    </div>
                    <% }); %>
                        <br>
                        <% if (user && user.role == 'parent' ) { %>
                            <form action="/enrollments/<%= activity._id %>" method="post">
                                <label for="childName">Child Name</label>
                                <input type="text" name="childName" id="childName">

                                <input type="hidden" name="priceAtEnrollment" value="<%= activity.price %>">

                                <button type="submit">Enroll Child</button>
                            </form>
                            <h3>Leave a Review</h3>
                            <form action="/reviews/<%= activity._id %>" method="post">
                                <label for="rating">Rating</label>
                                <select name="rating" id="rating" >
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>

                                <label for="comment">Comment</label>
                                <textarea name="comment" id="comment" ></textarea>

                                <button type="submit">Submit Review</button>
                            </form>
                            <% } %>

</body>

</html>