<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activity-details</title>
</head>

<body>
    <%- include('../partials/navbar') %>
        <h1>Activity Details</h1>
        <p>Activity Name: <%= activity.title %>
        </p>
        <p>Category: <%= activity.category %>
        </p>
        <p>Description: <%= activity.description %>
        </p>
        <p>Age Range: <%= activity.ageRange %>
        </p>
        <p>Tags: <%= activity.tags %>
        </p>
        <p>Price: <%= activity.price %>
        </p>
        <p>Capacity: <%= activity.capacity %>
        </p>

        <% if (user && user._id === activity.createdBy.toString()) { %>
            <a href="/activities/<%= activity._id %>/edit">
                <button type="button">Edit Activity</button>
            </a>
            
            <form action="/activities/<%= activity._id %>?_method=DELETE" method="post">
                <button type="submit">Delete Activity</button>
            </form>
            <% } %>

</body>

</html>